#landingstudent {
  width: 100vw;
  min-height: 80vh;
  max-height: 100vh;
  background-position: right;
  background-color: aqua;
  background-image: url("/img/Bacon/landing/portrait.png");
  background-size: cover;
  background-repeat: no-repeat;
}
