.navtext {
  font-family: Gotham;
  font-style: normal;
  font-weight: 325;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 0.164102px;
  text-transform: uppercase;
  color: #252529;
  margin-left: 110px;
  margin-top: 30vh;
}
nav a {
  text-decoration-color: #252529;
}
nav a:hover {
  text-decoration-color: var(--primary);
}
nav a:hover .navtext {
  color: var(--primary);
}
nav {
  backdrop-filter: blur(50px);
  width: 100vw;
  text-align: right;
  position: sticky;
}
#leftnav {
  position: fixed;
  height: 100vh;
  width: 60px;
  left: 1vw;
  z-index: 100;
}

#leftnav img {
  margin-top: 5vh;
  margin-left: -0.1vw;
  max-width: 60px;
  width: 10vw;
  min-width: 30px;
}

#leftnav .line {
  position: absolute;
  left: 1.5vw;
  top: 30vh;
  width: 2px;
  height: 60vh;
  border-radius: 2px;
  background: #495bfd20;
}

#leftnav .line::before {
  content: "01";
  font-size: 17px;
  font-family: gotham;
  font-weight: regular;
  position: relative;
  top: -33px;
  left: -7px;
  color: var(--primary);
}

#leftnav .line::after {
  content: "04";
  font-size: 17px;
  font-family: gotham;
  font-weight: regular;
  position: relative;
  top: 61vh;
  left: -27px;
  color: var(--primary);
}

#leftnav .line2 {
  position: absolute;
  left: 1.5vw;
  margin-top: 30vh;
  margin-bottom: 20vh;
  width: 2px;
  height: 10vh;
  border-radius: 2px;
  background: var(--primary);
}

/*
#progressbar::after {
  content: '03';
font-family: gotham;
margin-left: 0.6vw;
top: 4vh;
position: absolute;

color: var(--primary);
}
*/

#progressBarNumber {
  position: absolute;
  /* margin-top: 4vh; */
  height: 10vh;
  font-family: gotham;
  margin-left: 0.6vw;
  top: 4.3vh;
  position: absolute;
  /* padding: 10px; */
  color: var(--primary);
}
/* Tablet */
@media only screen and (max-width: 1023px) {
  .navtext {
    margin-left: 50px;
  }
}
/* Mobile */
@media only screen and (max-width: 560px) {
  .navtext {
    margin-left: 12px;
  }
}
