.Primary {
    background-color: var(--primary);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.Secondary {
    background-color: var(--secondary);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.Light_Grey {
    background-color: var(--light_grey);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.Background_blur {
    backdrop-filter: blur(27px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.08);
    /* background-color: black; */
    width: 40vw;
    top: 52.5%;
    height: 200px;
}

