#landingstudent {
  width: 100vw;
  min-height: 80vh;
  max-height: 100vh;
  background-position: right;
  background-color: aqua;
  background-image: url("landing/portrait.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Tablet */
@media only screen and (max-width: 1023px) {
  #landingstudent {
    background-position: center;
  }
}
/* Mobile */
@media only screen and (max-width: 560px) {
}
