#landingstudent {
  width: 100vw;
  min-height: 80vh;
  max-height: 100vh;
  background-position: center;

  background-image: url("portrait.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1023px) {
  #landingstudent {
    background-position: center;
    margin-bottom: 50px;
  }
}
/* Mobile */
@media only screen and (max-width: 560px) {
}
