body {
  min-height: 100%;
}


@keyframes splash {
	0% {
        opacity: 30%;
        background-position-x: 50%, 50%, 50%;
    }
    100% {
        opacity: 100%;
        background-position-x: 48%, 50%, 52%
    }
}

@keyframes splash_mobile {
    from {
        opacity: 30%;
        background-position: calc(50% - 0px), center, calc(50% + 0px);
    }
    to {
       opacity: 100%;
       background-position: calc(50% - 20px), center, calc(50% + 20px);
    }
}
@keyframes blur_mobile {
    0% {
        height: 0vh;
        background-color: #ffffff00;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    50% {
        height: 25vh;
        background-color: #ffffff00;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    75% {
        background-color: #ffffff00;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    100% {
        height: 50vh;
        background-color: #ffffff50;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

    }
}




#section1 {

    animation: splash ease-out 1300ms 0ms 1;

    height: 100vh;
    display: grid;
    align-content: flex-end;
    background-image: url("../img/Gradshow_2021_Logo_RGB_Colour_single.svg"), url("../img/Gradshow_2021_Logo_RGB_Colour_single.svg"), url("../img/Gradshow_2021_Logo_RGB_Colour_single.svg") ;
    background-attachment: fixed, fixed, fixed;
    background-position: center, center, center;
    background-position-x: 48%, 50%, 52%;
    background-repeat: no-repeat;
    background-size: 20%;
    
}




#section1 div {
    height: 32.5vh;
    width: 100vw;
    background-color: #ffffff50;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


/* Tablet */
@media only screen and (max-width: 1023px) {

    #section1 {

        animation: splash_mobile ease-out 1300ms 350ms 1;

        height: 100vh;
        display: grid;
        align-content: flex-end;
        background-image: url("../img/Gradshow_2021_Logo_RGB_Colour_single.svg"), url("../img/Gradshow_2021_Logo_RGB_Colour_single.svg"), url("../img/Gradshow_2021_Logo_RGB_Colour_single.svg") ;
        background-attachment: initial;
        background-position: calc(50% - 20px), center, calc(50% + 20px);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 280px;
        
    }
    
    
    
    
    #section1 div {
        animation: blur_mobile ease-out 3300ms 0s 1;

        height: 50vh;
        width: 100vw;
        background-color: #ffffff50;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    
}



/*-- ABOUT SECTION --*/
#section2 {
  padding: 100px 0vw;
  height: calc(100vh - 200px);
  background-color: var(--primary);
  z-index: -100;
}

.section2_1 {
  grid-area: section2_1;
}
.section2_2 {
  grid-area: section2_2;
}
.section2_3 {
  grid-area: section2_3;
}

#section2 section {
  width: 82.5vw;
  /* max-width: 1250px; */
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "section2_1 section2_1"
    "section2_2 section2_3";
  grid-gap: 10px;
}
#section2 section .section2_1 {
  padding-bottom: 200px;
}
#section2 section .section2_1 h3 {
  color: white;
  font-family: "Gothamlight";
  font-size: max(min(24px), 1.25vw);
}
#section2 section .section2_1 h3:nth-child(2) {
  font-family: "Gothammedium";
}

#section2 section .section2_2 {
  width: 30vw;
}
#section2 section .section2_2 h1 {
  color: white;
  font-size: max(min(20px), 5vw, 40px);
  line-height: 0.75em;
  letter-spacing: 0.3px;
}
.section2_2 h1 span:nth-child(1) {
  letter-spacing: -5px;
}
.section2_2 h1 span:nth-child(2) {
  font-size: 0.65em;
}

.section2_3 p {
    color: white;
    max-width: calc(550px + 10vw);
    font-size: max(min(18px), 1vw);
    line-height: 150%;
}

/*-- STUDENT SECTION --*/
#section3 {
}

.section3_students {
  display: block;
  width: 82.5vw;
  margin: 0 auto;
}
.section3_students > h1,
.section3_students > p {
  max-width: calc(570px + 10vw);
  margin: 0% 1.25vw;
}
.section3_students > h1 {
  margin-top: 200px;
  font-size: max(min(48px), 3vw, 40px);
}

.section3_students > p {
  margin-top: 12px;
  margin-bottom: 75px;
  font-size: max(min(18px), 1vw);
}

.section3_students > div {
  margin: 0 auto;
}

.student_card {
  vertical-align: top;
  width: 19.5vw;
  margin: 0% 0vw 70px 0.9vw;
  text-align: left;
  display: inline-block;
}

.student_card:not(#activeStudent) {
    opacity: 100%;
}
#activeStudent::before {
    background-color: #495bfdb4;
    content:'';
    z-index: 1;
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    margin: 0 auto;
    height: 24.3vw;
    mix-blend-mode: lighten;
    width: 19.5vw;
    pointer-events: none;
}



.student_card img {
  width: 100%;
}

.student_info p,
.student_info a {
  font-size: max(min(12.5px), 1.35vw);
  text-decoration: none;
}

.student_info p {
  margin-top: 4px;
}

.student_about section {
    margin: 0 0 0 auto;
    /* display: block; */
    width: 90%;
    padding-bottom: 50px;
}
.student_about section h1 {
    font-size: 30px;
}
.student_about section h4 {
    margin-top: 16px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.student_about section p {
    font-size: 16px;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 38px;
}


/*-- PROJECT SECTION 4 --*/
#section4 {
  padding: 50px 0px;
  background-color: var(--light_grey);
}

#section4::before {
  -webkit-transform: skewY(12.5deg);
  transform: skewY(12.5deg);
  background: inherit;
  position: absolute;
  height: 60%;
  z-index: -2;
  content: "";
  width: 100%;
  margin: 0 auto;
  transform-origin: 220vh 0;
}

.section4_1 {
  grid-area: section4_1;
}
.section4_2 {
  grid-area: section4_2;
}
.section4_3 {
  grid-area: section4_3;
}
.section4_4 {
  grid-area: section4_4;
}

#section4 section {
  width: 82.5vw;
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "section4_1 section4_1"
    "section4_2 section4_3"
    "section4_4 section4_4";
  grid-gap: 10px;
}
.section4_1 {
  margin-top: 140px;
}
.section4_2 {
  margin-top: 64px;
  display: grid;
  grid-template-columns: auto auto;
}
.section4_2 ul {
  /* grid-column: inline-block; */
  width: 100%;
}
.section4_2 ul li {
  color: black;
  font-family: "Gothambook", sans-serif;
  text-transform: initial;
  /* font-size: 18px; */
  font-size: max(min(18px), 1vw);
  padding: 0.75em;
  width: 100%;
  cursor: pointer;
}


.section4_2 ul li a {
    color: black;
    display: block;
    text-decoration: none;
}

.section4_2 ul li a:hover {
    color: var(--primary);
    font-family: Gothammedium;
}

.section4_3 {
  width: 30vw;
  height: 30vw;
  /* border: 12px solid var(--primary); */
  justify-self: end;
  align-self: center;
  /* margin: 0 auto; */
}
.section4_3 div {
  width: 100%;
  height: 100%;
}
.section4_4 {
  padding: 0.75em;
}


.section4_1 {grid-area: section4_1;}
.section4_2 {grid-area: section4_2;}
.section4_3 {grid-area: section4_3;}
.section4_4 {grid-area: section4_4;}

.section4_1 h1 {
    font-size: max(min(48px), 4vw);
}
#section4 section  {
    width: 82.5vw;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        'section4_1 section4_1'
        'section4_2 section4_3'
        'section4_4 section4_4';
    grid-gap: 10px;
}

.section5_1 {grid-area: section5_1;}
.section5_2 {grid-area: section5_2;}
.section5_3 {grid-area: section5_3;}
.section5_4 {grid-area: section5_4;}

#section5 > section {
    width: 82.5vw;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    'section5_1 section5_1'
    'section5_2 section5_2'
    'section5_3 section5_3'
    'section5_4 section5_4';

    grid-gap: 10px;
}

.section5_1 {
    margin-top: 140px;
}
.section5_1 h1 {font-size: max(min(48px), 4vw);}

.section5_2 {
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.section5_2_1 {
    margin-bottom: 25px;
}

.section5_2 article p,
.section5_2 article h4 {
    color: var(--primary);
    
}

.section5_2 article p,
.section5_3 article p {
    font-size: max(min(18px), 1vw);
}
.section5_2 article h4,
.section5_3 article h4 {
    font-size: max(min(21px), 1.25vw);
}

.section5_3 {
    display: grid;
    margin-top: 50px;
    /*grid-template-columns: 20.5vw 20.5vw 20.5vw 20.5vw;*/
    /*grid-auto-columns: minmax(20.5vw, 200px);*/
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.section5_3 article {
    margin-bottom: 50px;
}


.section5_4 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.desktop {
    display: none;
}
.tablet {
    display: none;
}



/* Tablet */
@media only screen and (max-width: 830px) {

.desktop {
    display: none;
}
.tablet {
    display: none;
}


  /*---- ABOUT SECTION 2 ----*/
  #section2 section {
    grid-template-areas:
      "section2_1 section2_1"
      "section2_2 section2_2"
      "section2_3 section2_3";
    grid-gap: 30px;
  }
  #section2 section .section2_2 {
    width: 50vw;
  }
  #section2 section .section2_2 h1 {
    color: white;
    font-size: max(min(60px), 5vw, 40px);
    line-height: 0.75em;
    letter-spacing: 0.3px;
  }
  .section2_2 h1 span:nth-child(1) {
    letter-spacing: -5px;
  }
  .section2_2 h1 span:nth-child(2) {
    font-size: 0.65em;
  }

  /*---- STUDENT SECTION 3 ----*/
  .student_card {
    vertical-align: top;
    width: 40vw;
    margin: 0% 0.45vw 35px;
    text-align: left;
    display: inline-block;
  }

  #activeStudent::before {
    height: 50vw;
    width: 40vw;
}


  .student_info p,
  .student_info a {
    font-size: max(min(14.5px), 1.35vw);
    text-decoration: none;
  }

  /*------ PROJECT SECTION 4 ----*/
  #section4::before {
    transform-origin: 150vh 0;
  }

  #section4 section {
    grid-template-areas:
      "section4_1 section4_1"
      "section4_3 Section4_3"
      "section4_2 section4_2"
      "section4_4 section4_4";
  }

  .section4_2 {
    margin-top: 34px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .section4_2 ul li {
    font-size: 14px;
    width: 100%;
    padding: 0.75em;
  }

  .section4_3 {
    margin-top: 30px;
  }
}

/* Mobile */
@media only screen and (max-width: 560px) {
  #section2 section .section2_1 {
    padding-bottom: 100px;
  }
  #section2 section .section2_1 h3 {
    font-size: max(min(1.5em), 1.85rem);
  }
  #section2 section .section2_2 {
    width: 80vw;
  }
  #section2 {
    height: 100vh;
  }
  .section2_3 p {
    font-size: 16px;
  }
  .section3_students > p {
    font-size: 16px;
  }
  .student_card {
    width: 39vw;
  }
  #activeStudent::before {
    height: 48.7vw;
    width: 39vw;
  }
  .section4_2 ul li {
    padding: 0.75em 0.5em 0.75em 0.25em;
  }
  #section4 section {
    width: 87.5vw;
  }
  .student_info p,
  .student_info a {
    font-size: max(min(11.5px), 1.35vw);
  }
}
