/*
@import url(/styles/Textstyles.css);
@import url(/styles/template.css);
@import url(/styles/Color.css);
@import url(/styles/nav.css);
@import url(/styles/StyleSheet.css);
@import url(/styles/footer.css);
*/

@import "Textstyles.css";
@import "nav.css";
@import "Color.css";
@import "template.css";
@import "StyleSheet.css";
@import "footer.css";
@import "button.css";

html {
  scroll-behavior: smooth;
}
a div#skip {
  text-align: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--primary);
  color: #fff;
}
#studentsland {
  background-color: var(--light_grey);
  padding-top: 50vh;
  padding-bottom: 20vh;
  padding-right: 10vw;
  padding-left: 5vw;
  width: 100vw;
  margin-bottom: 10vh;
}
#studentsland h1,
#studentsland p {
  width: 50vw;
}
@media only screen and (max-width: 840px) {
  #studentsland {
    background-color: var(--light_grey);
    padding-top: 30vh;
    padding-bottom: 20vh;
    padding-left: 5vw;
    width: 90%;
    margin-bottom: 10vh;
  }
  #studentsland h1,
  #studentsland p {
    width: 60vw;
  }
}

@media only screen and (max-width: 560px) {
  #studentsland {
    background-color: var(--light_grey);
    padding-top: 30vh;
    padding-bottom: 20vh;
    padding-right: 10vw;
    padding-left: 5vw;
    width: 100vw;
    margin-bottom: 10vh;
  }
  #studentsland h1,
  #studentsland p {
    width: 80vw;
  }
}
