#studentsland {
  background-color: var(--light_grey);
  padding-top: 60vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 5vw;
  width: 100vw;
  margin-bottom: 10vh;
}
#studentsland > h1,
#studentsland > p {
  max-width: calc(450px + 10vw);
  margin: 0% 1.25vw;
}
@media only screen and (max-width: 840px) {
  #studentsland {
    background-color: var(--light_grey);
    padding-top: 30vh;
    padding-bottom: 20vh;
    padding-left: 5vw;
    width: 90%;
    margin-bottom: 10vh;
  }
  #studentsland h1,
  #studentsland p {
    width: 60vw;
  }
}

@media only screen and (max-width: 560px) {
  #studentsland {
    background-color: var(--light_grey);
    padding-top: 30vh;
    padding-bottom: 20vh;
    padding-right: 10vw;
    padding-left: 5vw;
    width: 100vw;
    margin-bottom: 10vh;
  }
  #studentsland h1,
  #studentsland p {
    width: 80vw;
  }
}
