* {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1440px;
  width: 85vw;
  margin: 0 auto;
}
#landingbio {
  width: 45%;
  margin-left: max(80px, 6%);
  padding-top: 20vh;
}
#portraitload {
  display: none;
}
#landingbio p {
  margin-bottom: 25px;
  margin-top: 10px;
}
#landingsocial span {
  margin: 20px 40px 80px 0px;
  line-height: 30px;
}
#landingsocial {
  margin-bottom: 50px;
}
#landingsocial a {
  text-decoration: none;
}

#showcase {
  margin-top: -50px;
  backdrop-filter: blur(10px);
  width: 100%;
}
.p1_1 {
  height: 30rem;
  margin: 25px 10px;
}
.p1_1 img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  transition: transform 0.2s;
}

.p1_1 a:hover img {
  transform: translatey(-10px) scale(1.05);
  transition: transform 0.2s;
}
.grid3 {
  place-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 30px;
}
.grid2 {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
#w1_fullwidth_1 {
  max-height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  overflow: hidden;
}
#w1_fullwidth_1 img {
  width: 100%;
}
#w1_fullwidth_2 {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
}
#w1_fullwidth_2 img {
  max-height: 100%;
  max-width: 100%;
}
#w1_fullwidth_2 video {
  max-height: 100%;
  max-width: 100%;
}
#header_1 {
  width: 100%;
  height: 50vh;

  margin: 25px 0px;
}
#s1_halfwidth {
  margin: 10px 0px;
}
#s1_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s2_halfwidth {
  margin: 10px 0px;
}
#s2_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s2_halfwidth video {
  max-height: 100%;
  max-width: 100%;
}
#s3_halfwidth {
  margin: 25px 0px;
}
#s3_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s4_halfwidth {
  margin: 25px 0px;
}
#s4_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s1_thirdwidth {
  margin: 25px 0px;
  grid-row: 1/2;
}
#s1_thirdwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 90%;
}
#s2_thirdwidth {
  margin: 25px 0px;
}
#s2_thirdwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s1_halfwidthtext img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s1_halfwidthtext span.bodybig,
#s1_halfwidthtext p.bodybig {
  font-weight: bold;
}
#s1_halfwidthtext span.body,
#s1_halfwidthtext p.body {
  font-weight: 300;
}
#s1_halfwidthtext span,
#s1_halfwidthtext p {
  padding-right: 30%;
}

#s1_halfwidthtext video {
  max-height: 100%;
  max-width: 100%;
}
#blurb {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  border-left: 1px solid black;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#blurb span.bodybig {
  font-weight: bold;
}
#blurb span.body {
  font-weight: 300;
}
.seperator {
  width: 80vw;
  max-width: 1440px;
  margin: 0 auto;
  height: 0.5px;
  background-color: black;
}
.projecttitle {
  margin: 50px auto;
  width: 80vw;
  max-width: 1440px;
}
.projecttitle .body,
.projecttitle .bigsubtitle {
  width: 50%;
}
.projecttitle p.body {
  margin-top: 20px;
}
.squaregrid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  place-items: center;
  grid-gap: 20px;
}
#squarebl {
  grid-column: 1;
  grid-row: 2;
}
#squaretl {
  grid-column: 1;
  grid-row: 1;
}
#squarer {
  grid-column: 2;
  grid-row: 1 / span 2;
}
#squarebl img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#squaretl img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#squarer img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
.container {
  display: block;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary);
  color: #fff;
  margin: 0 auto;
  text-align: center;
  z-index: 10000;
  padding-top: 40vh;
}
.container h1 {
  color: #fff;
}
#cdtitle {
  color: #fff;
  font-family: Noctis;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */
  letter-spacing: -1px;
  transition: 1s;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  font-family: gotham;
  text-transform: uppercase;
  color: #fff;
}
#mobilebio {
  display: none;
}
li span {
  display: block;
  font-size: 4.5rem;
  font-family: gotham;
}

/* Tablet */
@media only screen and (max-width: 1023px) {
  .p1_1 {
    height: 20rem;
    margin: 25px 10px;
  }
  .grid2 {
    display: block;
  }
  #footernav .grid2 {
    display: grid;
  }
  #showcase .grid3 {
    display: grid;
    width: 90%;
    margin: 0 auto;
  }
  .grid3 {
    display: block;
  }
  .projecttitle .body,
  .projecttitle .bigsubtitle {
    width: 100%;
  }
  .projecttitle {
    margin: 30px 45px 60px;
  }
  .wrapper {
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
  }
  #w1_fullwidth_1 {
    max-height: 100vh;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
/* Mobile */
@media only screen and (max-width: 560px) {
  .p1_1 {
    height: 10rem;
    margin: 25px 10px;
  }
  #landingbio p.bodybig {
    display: none;
  }
  #landingbio {
    width: 45%;
    margin-left: 6vw;
    padding-top: 30vh;
  }
  #landingsocial span {
    margin: 25px 100px 0px 0px;
    /* padding: 15px; */
    line-height: 30px;
  }
  #landingsocial {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #showcase {
    margin-top: 0px;
    backdrop-filter: blur(10px);
    /* width: 100%; */
    /* margin: 0 auto; */
  }
  #mobilebio {
    display: block;
    width: 80vw;
    margin: 0 auto;
  }
}
