* {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1440px;
  width: 90vw;
  margin: 0 auto;
}
#landingbio {
  width: 45%;
  margin-left: max(80px, 6%);
  padding-top: 20vh;
}

#landingbio p {
  margin-bottom: 25px;
}
#landingsocial span {
  margin: 20px 40px 80px 0px;
}
#landingsocial {
  margin-bottom: 50px;
}
#landingsocial a {
  text-decoration: none;
}
#showcase {
  margin-top: -50px;
  backdrop-filter: blur(10px);
  width: 100%;
}
.p1_1 {
  height: 30rem;
  margin: 25px 10px;
}
.p1_1 img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  transition: transform 0.2s;
}

.p1_1 a:hover img {
  transform: translatey(-10px) scale(1.05);
  transition: transform 0.2s;
}
.grid3 {
  place-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 30px;
}
.grid2 {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
#w1_fullwidth_1 {
  max-height: 100vh;

  margin: 25px 0px;
  text-align: center;
  overflow: hidden;
}
#w1_fullwidth_1 img {
  width: 100%;
}
#w1_fullwidth_2 {
  width: 100%;

  margin: 25px 0px;
  text-align: center;
}
#w1_fullwidth_2 img {
  max-height: 100%;
  max-width: 100%;
}
#w1_fullwidth_2 video {
  max-height: 100%;
  max-width: 100%;
}
#header_1 {
  width: 100%;
  height: 50vh;

  margin: 25px 0px;
}
#s1_halfwidth {
  margin: 25px 0px;
}
#s1_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s2_halfwidth {
  margin: 25px 0px;
}
#s2_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s3_halfwidth {
  margin: 25px 0px;
}
#s3_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s4_halfwidth {
  margin: 25px 0px;
}
#s4_halfwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s1_thirdwidth {
  margin: 25px 0px;
  grid-row: 1/2;
}
#s1_thirdwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 90%;
}
#s2_thirdwidth {
  margin: 25px 0px;
}
#s2_thirdwidth img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s1_halfwidthtext img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
#s1_halfwidthtext span.bodybig {
  font-weight: bold;
}
#s1_halfwidthtext span.body {
  font-weight: 300;
}
#blurb {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
#blurb span.bodybig {
  font-weight: bold;
}
#blurb span.body {
  font-weight: 300;
}
.seperator {
  width: 80vw;
  max-width: 1440px;
  height: 1px;
  background-color: black;
}
.projecttitle {
  margin-top: 50px;
  margin: 50px 90px 0px;
}
.projecttitle .body,
.projecttitle .bigsubtitle {
  width: 40%;
}
.projecttitle p.body {
  margin-top: 20px;
}
.container {
  display: block;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary);
  color: #fff;
  margin: 0 auto;
  text-align: center;
  z-index: 10000;
  padding-top: 40vh;
}
.container h1 {
  color: #fff;
}
#cdtitle {
  color: #fff;
  font-family: Noctis;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */
  letter-spacing: -1px;
  transition: 1s;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  font-family: gotham;
  text-transform: uppercase;
  color: #fff;
}

li span {
  display: block;
  font-size: 4.5rem;
  font-family: gotham;
}
#section5 {
  position: sticky;
  top: 0;
  z-index: 10000;
  display: block;
  transition: 1s;
}

/* Tablet */
@media only screen and (max-width: 1023px) {
  .grid2 {
    display: block;
  }
  #footernav .grid2 {
    display: grid;
  }
  #showcase .grid3 {
    display: grid;
  }
  .grid3 {
    display: block;
  }
  .projecttitle .body,
  .projecttitle .bigsubtitle {
    width: 80%;
  }
  .projecttitle {
    margin: 50px 90px 80px;
  }
}
/* Mobile */
@media only screen and (max-width: 560px) {
  #landingbio {
    margin-left: max(20px, 2%);
  }
}
