* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

/* Fonts Collection */


/* OLD WAY THAT WASNT WORKING
@font-face {
  font-family: "Noctis";
  src: url("../Fonts/Noctis-Heavy-trial.ttf") format("woff2");
}
@font-face {
  font-family: "Gothambold";
  src: url("../Fonts/GothamBold.otf") format("otf");
  font-weight: bold;
}
@font-face {
  font-family: "Gothambook";
  src: url("../Fonts/GothamBook.otf") format("otf");
  font-weight: book;
}
@font-face {
  font-family: "Gothammedium";
  src: url("../Fonts/GothamMedium.otf") format("otf");
  font-weight: medium;
}
@font-face {
  font-family: "Gothamlight";
  src: url("../Fonts/GothamLight.otf") format("otf");
  font-weight: light;
}
*/


/* NEW WAY THAT SEEMS TO BE WORKING */
@font-face {
  font-family: 'Gothammedium';
  src:  url("../Fonts/GothamMedium.otf") format("otf"), 
      url('../Fonts/Gotham-Medium.woff2') format('woff2'),
      url('../Fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gothamlight';
  src: url("../Fonts/GothamLight.otf") format("otf"), 
      url('../Fonts/Gotham-Light.woff2') format('woff2'),
      url('../Fonts/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gothambook';
  src: url("../Fonts/GothamBook.otf") format("otf"),
      url('../Fonts/Gotham-Book.woff2') format('woff2'),
      url('../Fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gothambold';
  src: url("../Fonts/GothamBold.otf") format("otf"),
      url('../Fonts/Gotham-Bold.woff2') format('woff2'),
      url('../Fonts/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noctis';
  src: url("../Fonts/Noctis-Heavy-trial.ttf") format("ttf"),
      url('../Fonts/NoctisTrial-Heavy.woff2') format('woff2'),
      url('../Fonts/NoctisTrial-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}






h1 {
  font-family: Noctis;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */
  letter-spacing: -1px;

  color: #000000;
}
h2 {
  font-family: Gothambold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  /* or 48px */
  letter-spacing: -1px;

  color: #000000;
}
h3 {
  font-family: Gothambold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  color: #000000;
}
h4 {
  font-family: Gothammedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  /* or 31px */
  letter-spacing: -0.44px;

  color: #000000;
}
.bigsubtitle {
  font-family: Gothamlight, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  letter-spacing: -0.439024px;

  color: #000000;
}
.buttontext {
  font-family: Gothammedium, sans-serif;
  font-style: medium;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #000000;
}
.overline {
  font-family: Gothammedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #000000;
}
.bodybig {
  font-family: Gothamlight, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #000000;
}
.body {
  font-family: Gothamlight, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #000000;
}
.bodybold {
  font-family: Gothambold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #000000;
}
.bodybold_med {
  font-family: Gothammedium, sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.bodysmall {
  font-family: Gothamlight, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  color: #000000;
}
.bodysmallbold {
  font-family: Gothambold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  color: #000000;
}
